In [2]:
import psycopg2
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import matplotlib.pyplot as plt
%matplotlib inline

DBNAME = "opportunity_youth"

conn = psycopg2.connect(dbname=DBNAME)
cur = conn.cursor()

In [3]:
df_puma_names_2010_og = pd.read_sql("""
    SELECT * 
    FROM puma_names_2010;
    """, conn)
df_puma_names_2010_og.shape

(2378, 7)

In [10]:
df_puma_names_2010_og.isna().sum()

state_fips    0
state_name    0
cpuma0010     0
puma          0
geoid         0
gisjoin       0
puma_name     0
dtype: int64

In [4]:
df_puma_names_2010_og.state_name.value_counts()

California                                                                                              265
Texas                                                                                                   212
Florida                                                                                                 151
New York                                                                                                145
Ohio                                                                                                     93
Pennsylvania                                                                                             92
Illinois                                                                                                 88
North Carolina                                                                                           78
New Jersey                                                                                               73
Georgia                                                                                                  72
Michigan                                                                                                 68
Virginia                                                                                                 56
Washington                                                                                               56
Arizona                                                                                                  54
Massachusetts                                                                                            52
Indiana                                                                                                  50
Tennessee                                                                                                49
Missouri                                                                                                 47
Maryland                                                                                                 44
Minnesota                                                                                                43
Colorado                                                                                                 42
Wisconsin                                                                                                40
Louisiana                                                                                                34
Alabama                                                                                                  34
Kentucky                                                                                                 34
Oregon                                                                                                   31
South Carolina                                                                                           30
Oklahoma                                                                                                 28
Puerto Rico                                                                                              27
Connecticut                                                                                              26
Kansas                                                                                                   22
Iowa                                                                                                     22
Utah                                                                                                     22
Mississippi                                                                                              21
Arkansas                                                                                                 20
Nevada                                                                                                   18
New Mexico                                                                                               18
Nebraska                                                                                                 14
Idaho                                                                                                    14
West Virginia                                                                                            13
Hawaii                                                                                                   10
New Hampshire                                                                                            10
Maine                                                                                                    10
Montana                                                                                                   7
Rhode Island                                                                                              7
South Dakota                                                                                              6
Delaware                                                                                                  6
Wyoming                                                                                                   5
Alaska                                                                                                    5
District Of Columbia                                                                                      5
North Dakota                                                                                              5
Vermont                                                                                                   4
Name: state_name, dtype: int64

In [14]:
df_puma_names_2010 = pd.read_sql("""
    SELECT * 
    FROM puma_names_2010
    WHERE state_name = 'Washington'
    AND puma_name LIKE 'King%';
    """, conn)

In [15]:
df_puma_names_2010

,state_fips,state_name,cpuma0010,puma,geoid,gisjoin,puma_name
0,53,Washington ...,1044,11606,5311606,G53011606,"King County (Northwest)--Shoreline, Kenmore & ..."
1,53,Washington ...,1044,11607,5311607,G53011607,"King County (Northwest)--Redmond, Kirkland Cit..."
2,53,Washington ...,1044,11608,5311608,G53011608,King County (Northwest Central)--Greater Belle...
3,53,Washington ...,1044,11609,5311609,G53011609,"King County (Central)--Sammamish, Issaquah, Me..."
4,53,Washington ...,1044,11610,5311610,G53011610,"King County (Central)--Renton City, Fairwood, ..."
5,53,Washington ...,1044,11613,5311613,G53011613,King County (Southwest Central)--Kent City ...
6,53,Washington ...,1044,11614,5311614,G53011614,King County (Southwest)--Auburn City & Lakelan...
7,53,Washington ...,1044,11615,5311615,G53011615,"King County (Southeast)--Maple Valley, Covingt..."
8,53,Washington ...,1044,11616,5311616,G53011616,"King County (Northeast)--Snoqualmie City, Cott..."
9,53,Washington ...,1045,11611,5311611,G53011611,"King County (West Central)--Burien, SeaTac, Tu..."
10,53,Washington ...,1046,11612,5311612,G53011612,"King County (Far Southwest)--Federal Way, Des ..."

In [16]:
df_puma_names_2010.shape

(11, 7)

In [17]:
df_puma_names_2010.state_name.value_counts()

Washington                                                                                              11
Name: state_name, dtype: int64